@media only screen and (maxwidth:600) {
    .container {
        width: 95%;
        background-color: #fff;
        margin: auto;
    }
    .header {
        width: 100%;
        height: 480px;
        margin-bottom: 200px;
        background-color: tomato;
        border-bottom: 10px dotted tomato;
    }
}